// Place all the styles related to the Businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.business-index-list li {
width: 750px;
}

.business-index-list {
  position: relative;
  margin-left: 200px;
  margin-bottom: 30px;
  margin-top: 15px;
}

.business-index-listitem {
  list-style-type: none;
  font-family: sans-serif;
}

#index-show-link {
  width: 50px;
  height: 50px;
  background: red;
}

.business-index-listitem:hover {
  background-color: #ffc4c4;
}

.business-item-wrapper {
  display: flex;
  justify-content: space-between;
  width: 700px;
  height: 80px;
  padding: 10px;
  border-bottom: 1px solid #D3D3D3;
}

.list-img-wrapper {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  margin-right: 5px;
}

.business-name {
  margin-top: auto;
  color: #0000EE;
}
.business-name:hover {
  text-decoration-line: underline;
}

.navbar {
  background: red;
  padding-top: 10px;
}

.img-name {
  display: flex;
}
.address {
  width: 270px;
  height: 70px;
  margin-top: 0;
}
