// Place all the styles related to the Businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.business-index-list li {

}

.business-index-listitem {
  list-style-type: none;
}

.business-item-wrapper {
  display: flex;
  justify-content: space-between;
  width: 700px;
  height: 80px;
  padding: 10px;
  border-bottom: 1px solid #D3D3D3;
}

.business-name {
  margin-top: auto;
}

.address {
  width: 270px;
  height: 70px;
  background-color: #D3D3D3;
  margin-top: 0;
}
