// Place all the styles related to the Businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.business-index-list li {
width: 750px;
}

.business-index-list {
  position: relative;
  margin-left: 200px;
}

.business-index-listitem {
  list-style-type: none;
  font-family: sans-serif;
}

.business-index-listitem:hover {
  background-color: #D3D3D3;
}

.business-item-wrapper {
  display: flex;
  justify-content: space-between;
  width: 700px;
  height: 80px;
  padding: 10px;
  border-bottom: 1px solid #D3D3D3;
}

.list-img-wrapper {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  background-color: gray;
  margin-right: 5px;
}

.business-name {
  margin-top: auto;
}

.navbar {
  background: red;
  padding-top: 10px;
}

#search-bar {
  background-color: white;
  display: inline;
  width: 200px;
  height: 25px;
  font-family: sans-serif;
  font-size: 25px;
  border-radius: 3px;
  position: relative;
  margin-left: 100px;
}

.img-name {
  display: flex;
}
.address {
  width: 270px;
  height: 70px;
  margin-top: 0;
}
