.filter-nav {
  background-color: #D3D3D3;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}

.filter-bar {
  display: flex;
  justify-content: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
}

.toggled-on {
  width: 125px;
  position: relative;
  margin-top: 15px;
  font-size: 18px;
  border: 1px solid green;
  border-radius: 4px;
  margin-right: 10px;
  background: #c4f3a4;
  text-align: center;
  color: green;
}

.toggled-off {
  width: 125px;
  position: relative;
  margin-top: 15px;
  font-size: 18px;
  border: 1px solid green;
  border-radius: 4px;
  margin-right: 10px;
  text-align: center;
  color: green;
  background-color: white;
}

@media screen and (max-width: 500px) {
  .filter-bar {
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .toggled-on {
    margin-right: 0px;
    width: 200px;
    height: 30px;
  }

  .toggled-off {
    margin-right: 0px;
    width: 200px;
    height: 30px;
  }
}

.toggled-off:hover {
  box-shadow: 0px 0.5px 0.5px black;
}
.toggled-on:hover {
  box-shadow: 0px 0.5px 0.5px black;
}



#smoking, #parking, #takeout, #wifi,
#d, #dd, #ddd, #dddd {
  display: none;
}
