.filter-nav {
  background-color: #D3D3D3;
  border-bottom: 1px solid gray;
  height: 55px;
}

.filter-bar {
  display: flex;
  width: 600px;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 20px;
  position: relative;
  margin-left: 50px;
}


.preferencesFilter {
  display: flex;
  position: relative;
  margin-right: 100px;
  width: 800px;
}

.preferencesFilter label {
  width: 220px;
  position: relative;
  margin-top: 15px;
  border: 3px solid gray;
  border-radius: 4px;
  margin-right: 10px;
}

.priceFilter label {
  width: 100px;
  position: relative;
  margin-top: 15px;
  margin-right: 5px;
  border: 3px solid gray;
  border-radius: 4px;
}
.priceFilter {
  display: flex;
  position: relative;
  margin-left: 100px;
}
