.filter-nav {
  background-color: #D3D3D3;
  border-bottom: 1px solid gray;
  height: 55px;
}

.filter-bar {
  display: flex;
  width: 600px;
  margin: 0 auto;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  position: relative;
  margin-left: 250px;
}


.preferencesFilter {
  display: flex;
  position: relative;
  margin-right: 100px;
  width: 800px;
}


.priceFilter {
  display: flex;
  position: relative;
  margin-left: 100px;
}

.toggled-on {
  width: 125px;
  position: relative;
  margin-top: 15px;
  font-size: 18px;
  border: 1px solid green;
  border-radius: 4px;
  margin-right: 10px;
  background: #c4f3a4;
  text-align: center;
  color: green;
}

.toggled-off {
  width: 125px;
  position: relative;
  margin-top: 15px;
  font-size: 18px;
  border: 1px solid green;
  border-radius: 4px;
  margin-right: 10px;
  text-align: center;
  color: green;
  background-color: white;
}

.toggled-off:hover {
  box-shadow: 0px 0.5px 0.5px black;
}
.toggled-on:hover {
  box-shadow: 0px 0.5px 0.5px black;
}



#smoking, #parking, #takeout, #wifi,
#d, #dd, #ddd, #dddd {
  display: none;
}

#nav-kelp-logo {
  font-size: 35px;
  font-family: sans-serif;
  color: black;
  font-weight: bolder;
  text-shadow: -3px -3px 3px white,
  0px -3px 3px white,
  3px -3px 3px white,
  -2px 3px 3px white,
  3px 0px 3px white,
  -3px 3px 3px white,
  -2px -3px 3px white
  ;
  position: absolute;
  left: 100px;
}
