#map {
  width: 600px;
  height: 600px;
  border: 1px solid #D3D3D3;
  position: absolute;
  margin-top: 50px;
  margin-left: 100px;
}

#index-map-wrapper {
  display: flex;
}

#map-wrapper {
}

#info-window-img {
  height: 100px;
  width: 130px;
}
