#search-bar {
  background-color: white;
  display: inline;
  width: 1000px;
  height: 35px;
  font-family: sans-serif;
  font-size: 20px;
  border-radius: 3px;
  position: relative;
  margin-left: 300px;
  margin-bottom: 30px;
}
