// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-form-container {
margin-top: 200px;
display: flex;
justify-content: space-around;

}

.login-form {
font-weight: bolder;
margin-bottom: 0;

}

.login-form-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

#Kelp-title {
  font-size: 35px;
  font-family: sans-serif;
  color: white;
  font-weight: bolder;
  text-shadow: -2px -2px black;
}

.submit-cred {
margin-top: 15px;
width: 250px;
height: 30px;
background-color: red;
color: white;
border-radius: 5px;
font-weight: bolder;
text-align: center;
}

.welcome {
  margin: 10px;
  font-size: 30px;
  font-weight: bolder;
  color: red;
}

.newToKelpLink {
  font-size: 20px;
  font-weight: bolder;
  position: relative;
  left: 35px;
  margin-bottom: 10px;
}

.haveKelpLink {
  font-size: 20px;
  font-weight: bolder;
  position: relative;
  left: 35px;
  margin-bottom: 10px;
}

.header {
  background-color: red;
  padding: 45px;
  display: flex;
  border-bottom: 1px solid gray;
}

.footer {
  border-top: 1px solid gray;
  background-color: #D3D3D3;
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0px;
}

.footerLinks {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.headerLinks {
  list-style-type: none;
  display: flex;
  font-family: sans-serif;
  color: white;
  font-weight: bolder;
}

.headerLinks li {
  margin-left: 5px;
  padding: 10px;
  border: 3px solid white;
  border-radius: 4px;
}

.Kelp {
  color: white;
  margin: auto;
}

.login-input {
  margin-bottom: 15px;
  border: 1px solid #D3D3D3;
  border-radius: 5px;
  height: 30px;
  position: relative;
  left: 30px;
}

#toggle-link {
  color: red;
}
