// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-form-container {
display: flex;
justify-content: space-around;
}

.login-form {
font-weight: bolder;
padding: 0;
margin: 0 auto;
}

.submit-cred {
width: 250px;
height: 30px;
background-color: red;
color: white;
}

.welcome {
  font-size: 30px;
  font-weight: bolder;
  color: red;
}

.newLink {
  font-size: 20px;
  font-weight: bolder;
}

.header {
  background-color: red;
  padding: 25px;
  display: flex;
}

.footer {
  border-top: 1px solid gray;
  background-color: #D3D3D3;
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 15px;
}

.Links {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

#Kelp {
  color: white;
  margin: 0 auto;
}
